
{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Contact Us</h1>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Customer Support</h5>
                    <p class="card-text">
                        <i class="fas fa-envelope me-2"></i> kaushaldangodra@gmail.com<br>
                        <i class="fas fa-phone me-2"></i> +91-9021505315<br>
                        <i class="fas fa-clock me-2"></i> Monday - Friday, 9:00 AM - 5:00 PM
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Office Location</h5>
                    <p class="card-text">
                        <i class="fas fa-building me-2"></i> TenderVista<br>
                        <i class="fas fa-map-marker-alt me-2"></i>SFIT, SVP Rd, Borivali West, <br>
                        Mumbai, Maharashtra 400103
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
